<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Custom source temporarily commented out for testing -->
    <!-- <add key="Ybor-Playground-nuget" value="https://p6m.jfrog.io/artifactory/api/nuget/v3/Ybor-Playground-nuget/index.json" /> -->
  </packageSources>
  <packageSourceCredentials>
    <!-- <Ybor-Playground-nuget>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_IDENTITY_TOKEN%" />
    </Ybor-Playground-nuget> -->
  </packageSourceCredentials>
</configuration>